.cat{
  float:left;
  opacity: .25;
  width: 25%;
  /*max-height: 200px;*/
  -webkit-transition: opacity 2s; transform 2s;
    transition: opacity 2s; transform 2s;
  loop: true;
}

.cat:hover{
  opacity: 1;
}
